@import '../../variables.scss';

.EmployeeList,
.AutomobileList {
  flex-grow: 1;
  background: $secondary-background;
  color: $secondary-text;
  padding: $side-padding;
  display: grid;
  grid-template-columns: repeat(auto-fit, 253px);
  gap: $side-padding;
  justify-content: center;
}
