$side-padding: 1.2rem;
$primary-background: #252b35;
$darker-background: #1c1d20;
$primary-text: white;
$secondary-background: white;
$secondary-text: #333;
$link-color: #61dafb;
$header-height: 4.31rem;
$mobile-header-height: 2.31rem;
